doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Urban Wordle
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
        script(
            src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
            integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
            crossorigin="anonymous"
        )
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        link(rel='stylesheet', href='/css/main.css')
    body
        .header
            .header__title
                h1 Urban Wordle
        .content
            .content__popup
                .content__popup__box
            block content
        .footer
            div Daniel Finger
        script(src="/js/main.js")
        block scripts