doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Urban Wordle
        link(rel='stylesheet', href='/css/main.css')
    body
        .header
            .header__title
                h1 Urban Wordle
        .content
            block content
        .footer
            div Daniel Finger
        script(src="/js/main.js")
        block scripts