extends layouts/main.pug

block content
    .content__grid
        .content__grid__row
            for letter of masked_word
                if letter !== ' '
                    .content__grid__row__box.empty
                else 
                    .content__grid__row__space
            

        
        //.content__grid__row
            .content__grid__row__box.empty
            .content__grid__row__box.empty
            .content__grid__row__box.empty
            .content__grid__row__space
            .content__grid__row__box.empty
            .content__grid__row__box.empty
    .content__keyboard
        .content__keyboard__row
            .content__keyboard__key
                label Q
            .content__keyboard__key
                label W
            .content__keyboard__key
                label E
            .content__keyboard__key
                label R
            .content__keyboard__key
                label T
            .content__keyboard__key
                label Y
            .content__keyboard__key
                label U
            .content__keyboard__key
                label I
            .content__keyboard__key
                label O
            .content__keyboard__key
                label P
        .content__keyboard__row
            .content__keyboard__key
                label A
            .content__keyboard__key
                label S
            .content__keyboard__key
                label D
            .content__keyboard__key
                label F
            .content__keyboard__key
                label G
            .content__keyboard__key
                label H
            .content__keyboard__key
                label J
            .content__keyboard__key
                label K
            .content__keyboard__key
                label L
        .content__keyboard__row
            .content__keyboard__key
                label Z
            .content__keyboard__key
                label X
            .content__keyboard__key
                label C
            .content__keyboard__key
                label V
            .content__keyboard__key
                label B
            .content__keyboard__key
                label N
            .content__keyboard__key
                label M