html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  letter-spacing: 0.2em;

  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;

  color: white;
  background-color: rgb(10, 10, 10);
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.header,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.header__title {
  width: 100%;
  border-bottom: 1px solid rgba(125, 125, 125, 0.5);
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content__grid,
.content__keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.content__grid__word {
  display: flex;
  flex-direction: column;
}

.content__grid__word__row {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.content__grid__row__word {
  display: flex;
}

.content__grid__word__row__box {
  margin: 5px;
  height: 80px;
  width: 80px;
}

.content__grid__word__row__box {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid rgba(125, 125, 125, 0.5);
  background-color: rgb(0, 0, 0);
}

.content__keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content__keyboard__row {
  justify-content: center;
  display: flex;
}

.content__keyboard__key {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;

  height: 75px;
  width: 75px;
  border: 2px solid rgba(125, 125, 125, 1);
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
}

.footer {
  border-top: 1px solid rgba(125, 125, 125, 0.5);
  font-size: 75%;
  font-style: italic;
}

.correct,
.close,
.wrong {
  border-color: white;
}

.correct {
  background-color: rgba(0, 128, 0, 0.75);
}

.close {
  background-color: rgba(255, 255, 0, 0.75);
}

.wrong {
  color: red;
}

.hidden {
  opacity: 0;
}

.current_row .content__grid__word__row__box {
  border-color: rgba(175, 175, 175, 1);
}
